@model System.Collections.IEnumerable

<script type="text/javascript">

    var GetPastelCategories = false;

    function onFileUploadComplete(e)
    {
        if (e.callbackData)
        {

            if (GetPastelCategories)
            {
                LoadingPanel.SetText("Importing Pastel Categories...</br> This can take a few minutes.");
                LoadingPanel.Show();
                ImportData(e.callbackData);
            }
            else
            {
                LoadingPanel.SetText("Importing Age Analysis...</br> This can take a few minutes.");
                LoadingPanel.Show();
                pcImportAgeAnalysis.Hide();
                ImportData(e.callbackData);                
            }
            
        }
    }

    function ImportData(FileName) {

        $.ajax({
            type: 'POST',
            url: '/DebtManagement/importData',
            dataType: 'json',
            //async: false,
            data: {
                FileName: FileName,
                AgeMonth: cbMonth.GetValue(),
                AgeImportType: cbImportType.GetValue(),
                GetPastelCategories: GetPastelCategories
            },
            success: function (response) {
                LoadingPanel.Hide();
                if (GetPastelCategories)
                    PastelCategoriesGridView.PerformCallback()
                else
                    GridView.PerformCallback()
            }
        });
    }

    function ImportFromExcel(s, e) {
        GetPastelCategories = false;
        ucImportAge.Upload();
    }

    function UpdateAgeAnalisis(s, e) {
        $.ajax({
            type: 'POST',
            url: '/DebtManagement/SetAgeAnalysisFromImport',
            dataType: 'json',
            async: true,
            data: {
                ImportKey: GridView.GetRowKey(GridView.GetFocusedRowIndex())
            },
            success: function (result) {
                if (result.Success === true) {
                    LoadingPanel.Hide();
                    pcAgeProcessed.Show();
                    GridView.PerformCallback();
                }
            }
        });
    }

    function onBtnConfirmDeleteAgeClick(Result) {

        if (Result == "mrYes") {

            $.ajax({
                type: 'POST',
                url: '/DebtManagement/SetAgeAnalysisImportDelete',
                dataType: 'json',
                async: true,
                data: {
                    ImportKey: GridView.GetRowKey(GridView.GetFocusedRowIndex())
                },
                success: function (result) {
                    if (result.Success === true) {
                        GridView.PerformCallback();
                    }
                }
            });
        }
    }

    function onStartEdit(s, e) {

        var GetCategoriesBtn = PastelCategoriesGridView.GetToolbar(0);
        GetCategoriesBtn.GetItemByName('BtnGetCategories')
        GetCategoriesBtn.SetEnabled(false);
        btnImport.SetEnabled(false);  
    }
    

</script>

@Html.DevExpress().Splitter(settings =>
{
    SplitterUtils.SetSplitterProperties(settings, ViewData["ViewProperties"]);

    MVCxSplitterPane HeaderPane = (MVCxSplitterPane)settings.Panes[0];
    HeaderPane.SetContent(() =>
    {
        ViewContext.Writer.Write("<div ID=\"ViewInfo\">Age analysis import</div><div style=\"margin:2px\">");
    });

    MVCxSplitterPane MainContentPane = (MVCxSplitterPane)settings.Panes[1];
    MainContentPane.SetContent(() =>
    {
        Html.RenderAction("AgeAnalysisImportPartial");
    });

    MVCxSplitterPane FooterPane = (MVCxSplitterPane)settings.Panes[2];
    FooterPane.Separator.Visible = DefaultBoolean.True;
    FooterPane.SetContent(() =>
    {
        Html.RenderAction("AgeAnalysisImportDetailPartial");
    });

}).GetHtml()

@Html.DevExpress().PopupControl(settings =>
    {
        PopupUtils.SetPopupViewProperties(settings, "pcImportAgeAnalysis", "Import age analysis");
        settings.SetContent(() =>
        {
            Html.RenderPartial("ImportAge");
        });

    }).GetHtml()

@Html.DevExpress().LoadingPanel(
       settings =>
       {
           settings.Name = "LoadingPanel";
           settings.Modal = true;
           settings.Text = "Process Age...";
       }
   ).GetHtml()

@MessageDlg.ShowMessageDlg("pcAgeProcessed", Html, "The selected age analysis has been processed.", new BtnType[] { BtnType.mbOK }, MessageType.mInformation)
@MessageDlg.ShowMessageDlg("pcDeleteAge", Html, "Are you sure you want to delete the selected Age Analysis?", new BtnType[] { BtnType.mbYes, BtnType.mbNo }, MessageType.mConfirmation, "onBtnConfirmDeleteAgeClick")